body {
    margin: 0;
    background-color: darkslategray;
}

.tophd {
    width: 100%;
}


.container {
    display: flex;
    justify-content: space-between;
    border: solid 5px royalblue;
    margin: 0;
}

.logo {
    float: left;
}

h1 {
    margin-top: 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;         
    grid-template-rows: 1fr 1fr;     
}

.blog-excerpt {
    margin: 5px;
    border: dotted 5px royalblue;
}

h1 {
    justify-content: center;
    color: darkorange;
}

h2 {
    justify-content: center;
    color: darkorange;
}

p {
    color:white;
}

.section3img {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.font2 {
    font-family: Merriweather,serif;
}

.gradient-background {
    background: linear-gradient(300deg, royalblue, black, darkslategray);
    background-size: 180% 180%;
    animation: gradient-animation 36s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  