body {
    background: darkcyan;
}

header {
    background: black;
    text-align: center;
    color: aqua;
    margin: 10 auto;
}

article {
    background: wheat;
    margin: 0 20px 0 20px;
    padding: 0px 5px 5px 5px;
}

footer small {
    color: aqua;
}

.content-head {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: dotted 5px red;
}

.content-foot {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: dotted 5px red;
}